{{> header user }}
<div class="container">
  <div class="row">
    <div class="col-12">
      <br>
        <h1 class="display-4" style="text-align:center">About Us</h1>
      <br>
    </div>
    </div>
    
    <div class="row">
      <div class="col-12">
        <tbody>
          <p class="font-weight-bol mb-0">
            <div class="col p-3">
                Our Project plan is to design a web application that gives anyone the opportunity to acquire a better understanding of post-secondary students’ life and culture in school.
            </div>
            <div class="col p-3">
                For many high school students who are preparing for the next stage in their education, many of them are curious and in need of answers about the life and culture of post-secondary school life. I am sure many high school students have wanted to ask the real-life university students and professors about their school life experiences on campus and about their chosen subjects. However, they could not find that SPECIAL place that specifically allowed them to ask these important questions. 
            </div>
            <div class="col p-3">
                The solution for the above problem is that our team aim to develop a web application that allows high school students or anyone curious about the post-secondary school students’ experiences to ask their important questions and then have real college/university students or professors to answer their questions and providing them with real-life experience examples. There are two kinds of application users, people who are curious about post-secondary school life and culture, and the actual students who are currently attending college or university or professors/people who have graduated from post-secondary education. 
            </div>
            </p>
        </tbody>
      </div>
    </div>
</div>