{{> header user }}
<div class="container">
  <div class="row">
    <div class="col-12">
      <br>
      <h2><u>All Categories</u></h2>
      <br>
    </div>
    </div>
    {{#if user}}
      <div class="col-lg-1" style="margin: 0px 12px 10px 12px;">
        <div class="row">
        <button type="button" class="btn btn-primary" >Create Post</button>
      </div>
      </div>
      {{/if}}
    <div class="row">
      <div class="col-12">
         <table class="table">
        <thead class="thead-dark">
          <tr>
              <th class="col-4" id="main_titles">Topics</th>
              <th class="col-8" id="main_titles">Description</th>
          </tr>
        </thead>
        <tbody>
          {{#if Categories}}
          {{#each Categories}}
          <tr>
            <td><a href="#">{{this.topic_name}}</a></td>
            <td id="main_post_titles">{{this.description}}</td>
          </tr>
          {{/each}}
          {{/if}}
        </tbody>
      </table>
      </div>
    </div>
</div>
